body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.input-group {
  display: inline-block;
}

#header {
  text-align: center;
  font-size: 24px;
}

.form-group:nth-child(3),
.form-group:nth-child(4) {
  display: inline-block;
  margin-inline-end: 100px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}